<div>
  <div style="display:flex">
  <mat-form-field>
    <mat-label>Company name</mat-label>
    <input matInput  (keyup)="companyNameKeyUpEvent($event)">
  </mat-form-field>

    <div class="ms-3">
      <mat-form-field>
        <mat-label>Company country</mat-label>
        <mat-select (selectionChange)="companyCountryChangeEvent($event)">
          <mat-option > All</mat-option>
          <mat-option value="{{Country.POLAND}}">{{ Country.POLAND }}</mat-option>
          <mat-option value="{{Country.USA}}">{{ Country.USA }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="companiesSourceMat" matSort>

    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company name </th>
      <td mat-cell *matCellDef="let element"> {{ element.companyName }}</td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef> Operations</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="manageCompanyClicked(element)"> Manage</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actualPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actual price </th>
      <td mat-cell *matCellDef="let element"> {{ element.actualPrice | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="dailyIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1D increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.dailyIncrease)"> {{element.dailyIncrease | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="weekIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1W increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.weekIncrease)"> {{element.weekIncrease | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="twoWeekIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 2W increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.twoWeekIncrease)"> {{element.twoWeekIncrease | number: '1.2-2' }}</td>d>
    </ng-container>

    <ng-container matColumnDef="monthIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1M increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.monthIncrease)"> {{element.monthIncrease | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="threeMonthsIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 3M increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.threeMonthsIncrease)"> {{element.threeMonthsIncrease | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="yearIncrease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 1Y increase </th>
      <td mat-cell *matCellDef="let element" [style.background-color]="getColorForValue(element.yearIncrease)"> {{element.yearIncrease | number: '1.2-2' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

