<form>
  <div class="d-flex flex-wrap">
    <div class="me-3 mb-3">
      <mat-form-field appearance="fill" class="short-form-field">
        <mat-label>Buy stop limit</mat-label>
        <input type="number" min="0" step="0.01" matInput [(ngModel)]="investGoalModel.buyStopPrice" name="buyStopPrice">
      </mat-form-field>
    </div>
    <div class="me-3 mb-3">
      <mat-form-field appearance="fill" class="short-form-field">
        <mat-label>Sell stop price</mat-label>
        <input type="number" min="0" step="0.01" matInput [(ngModel)]="investGoalModel.sellStopPrice" name="sellStopPrice">
      </mat-form-field>
    </div>
    <div class="me-3 mb-3">
      <mat-form-field appearance="fill" class="short-form-field">
        <mat-label>Buy limit price</mat-label>
        <input type="number" min="0" step="0.01" matInput [(ngModel)]="investGoalModel.buyLimitPrice" name="buyLimitPrice">
      </mat-form-field>
    </div>
    <div class="me-3 mb-3">
      <mat-form-field appearance="fill" class="short-form-field">
        <mat-label>Sell limit price</mat-label>
        <input type="number" min="0" step="0.01" matInput [(ngModel)]="investGoalModel.sellLimitPrice" name="sellLimitPrice">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <button mat-button type="submit" (click)="submitForm()">Save</button>
    </div>
  </div>
</form>
